.kkglasses-use {
    display: flex;
    margin: 20px 0;
}

.kkglasses-card {
    border: solid 1px #aaa;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
}

.kkglasses-card input {
    opacity: 0;
    position: absolute;
}


.kkglasses-card:hover {
    border-color: #64b1b1;
}   

.kkglasses-card.active {
    border-color: #2ab9b8;
    background-color: #dff3f3;
}

.use-title {
    color: #3a3a3a;
    font-weight: bold;
}

.kkglasses-correction {
    margin: 30px 0;
}

.correction-row td {
    padding: 4px 2px;
    
}


.kkglasses-tooltip {
    border: solid 1px #999;
    color: #222;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    bottom: 30px;
    background-color: #FFF;
    width: 240px;
    display: none;
}

.tooltip-trigger {
    cursor:pointer;
    vertical-align: super;
}

.tooltip-trigger i {
    font-size: 1rem;
    color:#2ab9b8;
}

.kkglasses-tooltip p {
    font-size: 0.7rem;
    color: #222;
}

.correction-row {
    position: relative;
}

.kkglasses-spacing {
    margin: 30px 0;
}

.spacing-radio {
    display: flex;
    margin: 20px 0;
}

.spacing-radio > div:first-child {
    margin-right: 50px;
}

#different_spacing_container {
    display: none;
}

.spacing-input-container {
    margin: 10px 0;
}

.type-card {
    border: solid 1px #aaa;
    border-radius: 4px;
    margin: 12px 0;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.type-card .card-radio {
    width: 5%;
    display: flex;
    align-items: center;
}

.type-card .card-description {
    width: 80%;
    display: flex;
    align-items: center;
}

.type-card .card-description p {
    color: #000;
    text-align: left;
    margin-bottom: 0;
}

.type-card .card-price {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.thin-container, .type-container {
    margin: 40px 0;
}

.creator-sidebar {
    position: sticky;
    top: 20px;
}

.creator-sidebar .creator-product-cover {
    display: block;
    margin: auto;
    width: 90%;
}

.creator-sidebar h2 {
    text-align: center;
}

.card {
    border: none;
}

.creator-sidebar {
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 20px;
    padding-right: 20px !important;
    padding-bottom: 20px;
    padding-left: 20px !important;
    box-sizing: border-box;
}

.summary-row {
    margin-bottom: 20px;
    color: #3a3a3a;
    display: flex;
    justify-content: space-between;
}

.summary-row.total {
    margin-top: 40px;
}

.summary-row.total .summary-value {
    font-weight: bold;
    font-size: 18px;
}

.col-md-8 h2 {
    font-weight: bold;
    font-size: 21px;
}

.kkglasses-card {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button.btn.btn-primary.card-button {
    padding: 5px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.creator-section {
    margin-bottom: 50px;
}

.correction-input {
    width: 100%;
}

.correction-header {
    padding-right: 10px !important;
}

.correction-table {
    width: 56%;
    display: block;
}

.correction-value-row {
    width: 32%;
    padding: 4px 8px !important;
}

input#pd_same {
    width: 20%;
}

#different_spacing_container .spacing-input {
    width: 50%;
}

#different_spacing_container td {
    width: 260px;
}

.hahaha {
    color: #3a3a3a;
    margin-bottom: 20px;
}

.hahaha-container {
    margin-top: 20px;
}

.spacing-radio input {
    margin-right: 8px;
}

.hahaha-option {
    margin: 0 6px;
    border:1px solid rgba(0,0,0,.125);
    border-radius: 12px;
    padding: 12px;
    display: inline-block;
}

.custom-checkbox + label {
    width: calc(100% - 21px);
}

.conditions {
    display: flex;
    align-items: flex-start;
}

.conditions label {
    text-align: left;
    margin-left: 8px;
}

.error-msg {
    display: none;
    color: red;
}

.card-price {
    margin-right: 6px;
}

.spacing-radio {
    width: 80%;
}

.radio-container {
    width: 50%;
}

.radio-container label {
    width: 100%;
}

.radio-label-container {
    text-align: left;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .kkglasses-use {
        flex-direction: column;
        align-items: center;
    }

    .kkglasses-card {
        width: 80%;
    }

    .correction-table {
        width: 100%;
    }

    input#pd_same {
        width: 100%;
    }

    .spacing-radio {
        flex-direction: column;
    }

    .hahaha-option {
        margin: 4px;
    }

    .type-card {
        width: 100%;
        /* flex-direction: column; */
        flex-wrap: wrap;
        padding: 20px;
    }

    .type-card .card-price {
        width: auto;
        margin-top: 10px;
    }
}